@reference "tailwindcss";

/* Tab Navigation Container */
.container {
  @apply flex gap-0;
  margin-bottom: 0px;
}

/* Individual Tab Link - Base Styles */
.tabLink {
  @apply pb-2 pt-2 -mb-px text-center border-b-4 border-transparent transition-colors;
  font-size: clamp(var(--text-l-min), calc(.8vw + 0.9rem), var(--text-l-max));
  width: 220px;
}

/* Active Tab State */
.tabLinkActive {
  @apply text-black font-medium;
  border-color: var(--color-brand-yellow);
}

/* Inactive Tab State */
.tabLinkInactive {
  @apply text-black/60;
}

.tabLinkInactive:hover {
  @apply text-black;
  border-color: rgb(34 29 35 / 0.2);
}

@media screen and (max-width: 500px) {

}

